<% puts "comment partial" %>
  <h3 class="comment_name"><%= comment.name %></h3>
  <h4 class="comment_date"><%= comment.created_at.in_time_zone("CET").strftime('%d/%m/%Y  %H:%M') %></h4>
  <p class="comment_body"><%= comment.body %></p>
