<h1>New Tweet</h1>

<%= turbo_frame_tag "new_tweet", target: "_top" do %>
  <%= form_with(model: @tweet) do |form| %>
    <div class="field">
      <%= form.text_area :body %>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
