<p id="notice"><%= notice %></p>



<div id="tweets">
  <p>show</p>
  <%= render @tweets %>
</div>

<%= turbo_frame_tag "new_tweet", src: new_tweet_path, target: "_top" do %>
  <p>nothing ever happens</p>
  <% link_to "New message", new_tweet_path %>
<% end %>
