/* TODO: learn SCSS and SASS and update the stylesheet */
/* TODO: substitute css variables where it"s useful (now that I finally CAN use variables) */

* {
  margin:0;
  padding:0;
  font: 400 1em 'Poppins', sans-serif;
}
h1 {
  font: 200 3em 'Poppins', sans-serif;
  text-align: center;
  margin: 1em auto 1em;
}

ul.random_words_list {
  display: flex;
  justify-content: center;
  align-items: center;
}
li.random_word {
  list-style-type: none;
  width: 14em;
  text-align: center;
  display: block;
  border: 1px solid #aaa;
  color: #ff3b8e;
  border-radius: 5px;
  padding: 0.2em;
  margin: 1.5em;
  font-weight: 300;

}
li.random_word:first-child {
  background-color: #ff3b8e;
  font-weight: bold;
  color: white;
}

#photo-gallery {
  margin: 2em auto 2em auto;
  width: 100%;
  max-width: 1440px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr;
  grid-template-rows: 3fr 1fr 2fr 3fr;
  grid-gap: 20px;
  grid-template-areas:  "block-A1 block-A1 block-B1 block-A2 block-C1"
                        "block-A1 block-A1 block-C2 block-A2 block-C1"
                        "block-A1 block-A1 block-C2 block-V block-V"
                        "block-B2 block-A3 block-A3 block-V block-V";
}

/* assigns blocks to grid areas */
.carousel:nth-child(1) {grid-area: block-A1 ;}
.carousel:nth-child(2) {grid-area: block-A2 ;}
.carousel:nth-child(3) {grid-area: block-A3 ;}
.carousel:nth-child(4) {grid-area: block-B1 ;}
.carousel:nth-child(5) {grid-area: block-B2 ;}
.carousel:nth-child(6) {grid-area: block-C1 ;}
.carousel:nth-child(7) {grid-area: block-C2 ;}
.carousel:nth-child(8) {grid-area: block-V  ;}

/* flickity selectors */
.carousel {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.carousel-cell {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}
.carousel-cell:hover {
  transform: scale(1.1);
}
.flickity-page-dots, .flickity-button {
  display: none;
}
