/* TODO: learn SCSS and SASS and update the stylesheet */
/* TODO: substitute css variables where it's useful (now that I finally CAN use variables) */
* {
  margin:0;
  padding:0;
  font: 400 1em 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
h1 {
  font: 200 3em 'Poppins', sans-serif;
  text-align: center;
  margin: 1em auto 1em;
  color: #777;
}
ul.random_words_list {
  display: flex;
  align-items: center;
  max-width: 650px;
  margin: 3.5em auto 3.5em auto;
  justify-content: space-between;
}
li.random_word {
  list-style-type: none;
  width: 8.5em;
  text-align: center;
  display: block;
  border: 1px solid #aaa;
  border-radius: 7px;
  padding: 0.2em;
  font-size: 1.2em;
  transition: 0.2s ease;
}
li.random_word:hover {
  background-color: rgba(255,59,142,0.65);
  border:none;
  border: 1px solid #ff9cc6;
  transition: 0.2s ease;
}
li.random_word.selected {
  background-color: #ff3b8e;
  border:none;
}
li.random_word.selected a, li.random_word:hover a {
  color: #fff;
  font-weight: bold;
  transition: 0.2s ease;
}
li.random_word a {
  display: block;
  width: 100%;
  height: 100%;
  color: #ff3b8e;
  font-weight: 300;
  text-decoration: none;
}

#photo-gallery {
  margin: 2em auto 0 auto;
  width: 100%;
  max-width: 1440px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr;
  grid-template-rows: 3fr 1fr 2fr 3fr;
  grid-gap: 20px;
  grid-template-areas:  "block-A1 block-A1 block-B1 block-A2 block-C1"
                        "block-A1 block-A1 block-C2 block-A2 block-C1"
                        "block-A1 block-A1 block-C2 block-V block-V"
                        "block-B2 block-A3 block-A3 block-V block-V";
}

/* assigns blocks to grid areas */
.main-carousel:nth-child(1) {grid-area: block-A1 ;}
.main-carousel:nth-child(2) {grid-area: block-A2 ;}
.main-carousel:nth-child(3) {grid-area: block-A3 ;}
.main-carousel:nth-child(4) {grid-area: block-B1 ;}
.main-carousel:nth-child(5) {grid-area: block-B2 ;}
.main-carousel:nth-child(6) {grid-area: block-C1 ;}
.main-carousel:nth-child(7) {grid-area: block-C2 ;}
.main-carousel:nth-child(8) {grid-area: block-V  ;}

/* flickity selectors */
.main-carousel {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.carousel-cell {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  transition: transform 0.3s ease;
}
.carousel-cell:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.flickity-page-dots, .flickity-button {display: none;}
/* Add Comment Form */

#add_comment_form {
  max-width: 650px;
  margin: 0em auto 3.5em auto;
  padding-top: 5em;
}
#add_comment_form fieldset {
  border: none;
  text-align: center;
  position: relative;
}
#add_comment_form fieldset > * {
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 1.2em;
  padding: 0.8em;
  box-sizing: border-box;
  outline: none;
}
#add_comment_form fieldset *::placeholder {
  color: #333;
  font-weight: 200;
}
#add_comment_form fieldset *:focus {
  /* outline: 3px solid #58b7d9; */
  box-shadow: 0 0 0pt 1pt #58b7d9;
  border: 1px solid #58b7d9;
}
#add_comment_form fieldset legend {
  cursor: default;
  text-align: center;
  width: 100%;
  margin-bottom: 2em;
  border: none;
  padding: 0;
}
#add_comment_form fieldset legend h2 {
  color: #777;
  font: 200 2.4em 'Poppins', sans-serif;
}
#add_comment_form fieldset #comment_name, #add_comment_form fieldset #comment_email {

  width: 48%;
}
#add_comment_form fieldset #comment_name {
  float: left;
}
#add_comment_form fieldset #comment_email {
  float: right;
}
#add_comment_form fieldset #comment_body {
  resize: vertical;
  width: 100%;
  height: 8em;
  margin:1em auto 1em auto;
}
#add_comment_form fieldset #comment_submit {
  font: 600 1.3em 'Poppins', sans-serif;
  display: block;
  margin:1em auto 2em auto;
  background-color: #58b7d9;
  padding: 0.5em 3em 0.5em 3em;
  color: #fff;
  border:none;
  letter-spacing: 0.07em;
  cursor: pointer;
}
#add_comment_form .cookie_notice {
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
  border:none;
  color: #7f8182;
  background-color: #efeff7;
  padding: 0.9em;
  border-radius: 7px;
  text-align: center;
}
#add_comment_form #remember_me {
  opacity: 0;
  position: absolute;
}
#add_comment_form label {
  border:none;
  color: #777;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0em;
  padding-left: 0.6em;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 210px;
  user-select: none;
}
#add_comment_form label::before, #add_comment_form label::after{
  font-size: 1.2em;
  font-family: 'Material Icons';
  display: inline-block;
  margin-right: 0.7em;
  position: absolute;
  left: 0;
  color: #58b7d9
}
#add_comment_form label::before{
  content: "check_box_outline_blank";
}
/*Hide the checkmark by default*/
#add_comment_form input[type="checkbox"] + label::after {
  content: none;
}/*Unhide the checkmark on the checked state*/
#add_comment_form input[type="checkbox"]:checked + label::after {
  content: "check_box";
}

.comment_list {
  max-width: 650px;
  margin: 1em auto 2em auto;
}
.comment_list_item {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 2em auto 2em auto;
}
.comment_list_item > * {
  font: 200 1em 'Poppins', sans-serif;
}
.comment_list h3.comment_name {
  font-size: 2em;
  width: 50%;
}
.comment_list h4.comment_date {
  font-size: 1.3em;
  width: 50%;
  text-align: right;
  line-height: 2em;
  color: #999;
}
.comment_list p.comment_body {
  font-size: 1.1em;
  width: 100%;
  margin-top: 0.6em;
}

.error-message {
  background-color: #fec4c1;
  color: #e7574e;
  padding: 1em 1em 1em 1em;
  text-align: center;
  font-weight: 800;
  border-radius: 7px;
  margin-bottom: 2em;
  margin-top: 1em;
}
/* #add_comment_form .custom-checkbox {
  border: none;
  position: rela
} */

/* input[type=checkbox] {
  visibility: hidden;
}3 */
